<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" (input)="onNameChange($event)" />
    </div>
    <div class="col">
      <label><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event)" />
    </div>
    <div class="col">
      <label><b>Date</b></label>
      <div>{{ paymentDate | date }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input class="form-control" (input)="onAmountChange($event)" />
    </div>
    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>{{ amount | currency: 'JPY' : 'symbol' : '4.2-4' }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event)" />
    </div>
    <div class="col">
      <label><b>Date</b></label>
      <div>{{ paymentDate | date }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" (input)="onHeightChange($event)" />
    </div>
    <div class="col">
      <label><b>Height</b></label>
      <div>{{ height | number: '2.1-3' }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col my-3">
      <label><b>Car</b></label>
      <div>{{ car | json }}</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" (input)="onMilesChange($event)" />
    </div>
    <!-- 各種轉換及 custom pipes，並應用在 *ngIf上 -->
    <div class="col">
      <div>
        <label><b>Centimeters</b></label>
        <div>{{ miles | convert: 'cm' : 2 }}</div>
      </div>
      <div>
        <label><b>Meters</b></label>
        <div>{{ miles | convert: 'm' : 3 }}</div>
      </div>
      <div>
        <label><b>Kilometers</b></label>
        <div *ngIf="(miles | convert: 'km') > 10">
          {{ miles | convert: 'km' : 4 }}
        </div>
      </div>
      <div>
        <label><b>Test</b></label>
        <div *ngIf="miles && miles > 5">{{ miles | convert: 'cm' : 2 }}</div>
      </div>
      <!-- 混用 custom 及 number pipes 來達到只顯示到小數點後兩位的效果 -->
      <div>
        <label><b>Mix Test</b></label>
        <div>{{ miles | convert: 'km' | number: '1.0-2' }}</div>
      </div>
    </div>
  </div>
</div>